<!DOCTYPE html>
<html>
<head>
  <title>EventService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/js/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="/css/jquery.bxslider.css" type="text/css" media="all">
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <% if instructor_signed_in? %>
      Logged in as <strong><%= current_instructor.email %></strong>.
      <%= link_to "プロフィール変更", edit_instructor_registration_path %> |
      <%= link_to "ログアウト", destroy_instructor_session_path, method: :delete %>
    <% else %>
      <%= link_to "ユーザー登録", new_instructor_registration_path %> |
      <%= link_to "ログイン", new_instructor_session_path %>
    <% end %>
  </nav>
</header>

<%= yield %>

</body>
</html>
